<!-- <ion-menu [content]="sidebar">
  <ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label>Push Notification</ion-label>
        <ion-toggle [(ngModel)]="notification" color="secondary"></ion-toggle>
      </ion-item>
      <ion-item>
        <a class="sidebar-link">Edit Profile</a>
      </ion-item>
      <ion-item>
        <a class="sidebar-link" (click)="toFeedBack()" >Feedback</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #sidebar></ion-nav> -->

<navsidebar></navsidebar>

<ion-header>
  <ion-navbar>
    <ion-title>
      Push notification for A.C
    </ion-title>
    <a (click)='logoutBtn()' class="logout-btn">Logout</a>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="hasData">
  <div class="holder">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading-holder">
            <h4>RECENT POSTS</h4>
          </div>

          <button class="filter-btn" (click)='filterPost()'>Filter</button>
          <div class="filter-holder">
            <input type="text" [(ngModel)]="title" placeholder="by title">
            <input type="text" [(ngModel)]="description" placeholder="by description">
          </div>
          <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
              pullingIcon="arrow-dropdown"
              pullingText="Pull to refresh"
              refreshingSpinner="circles"
              refreshingText="Refreshing...">
            </ion-refresher-content>
          </ion-refresher>

          <br>
          <!-- <button class="filter-btn" (click)="toFeedBack()" >Feedback</button> -->
          <div class="post-holder" (click)='selectedPost(post)' *ngFor="let post of posts">
            <div class="post-header">
              <img src="https://cdn.filestackcontent.com/VPkdgPyoT8KDCLJEk9Xn" alt="Angeles City Logo" />
              <span>
                <h6>{{post.title}}</h6>
                <a href="#" class="date">@LungsodngAngeles  &bull; {{ post.created_at | date: format : timezone }}</a>
              </span>
            </div>
            <img class="post-image" src="{{post.img}}" alt="" [hidden]="!post.img">
            <p>
              {{post.description}}
            </p>
            <!-- <ul>
              <li><a href="#" class="date">{{ post.created_at | date: format : timezone }}</a></li>
              <li><a href="#" class="website">www.angelescity.gov.ph</a></li>
              <li><a href="#" class="social">@LungsodngAngeles</a></li>
            </ul> -->
             <form class="comment">
               <div class="form-group">
                 <input class="form-control" type="text" clearInput name="post-comment-{{ i }}" [(ngModel)]="post.field" placeholder="Add a comment">
                 <!-- <input type="submit" value="POST" > -->
               </div>
               <button ion-button round (click)='postComment(post)' class="btn btn-green">Send</button>
             </form>
            <!-- <ion-item class="comment-content" *ngFor="let comment of post.comment_docs">
                <div>{{ comment.description }}</div>
            </ion-item> -->
          </div>
        </div>
      </div>
    </div>
  </div>
       <!-- <button ion-button (click)='logoutBtn()'>Log out</button> -->
</ion-content>
