<ion-header>
  <ion-navbar>
    <ion-title>
      Push notification for A.C
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="hasData">
  <div class="holder">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading-holder">
            <h4>RECENT POSTS</h4>
          </div>
          <div class="post-holder" *ngFor="let post of posts">
            <div class="post-header">
              <img src="../../assets/imgs/logo.png" alt="Angeles City Logo" />
              <h6>{{post.title}}</h6>
            </div>
            <p>
              {{post.description}}
            </p>
            <img width="100" src="{{post.img}}" alt="">
            <ul>
              <li><a href="#" class="date">NOVEMBER 24, 2017</a></li>
              <li><a href="#" class="website">www.angelescity.gov.ph</a></li>
              <li><a href="#" class="social">@LungsodngAngeles</a></li>
            </ul>

            <form class="comment">
              <div class="form-group">
                <input class="form-control" type="text" name="post-comment" placeholder="Write a comment">
                <input type="submit" value="POST" class="btn btn-green">
              </div>
            </form>
          </div>
      </div>
      </div>
    </div>
  </div>
</ion-content>
