/* header */
.toolbar,
.toolbar-background-md,
.toolbar-background-ios {
    border-color: transparent;
    background: #42b66d;
}

.toolbar-title-md,
.toolbar-title-ios {
    font-size: 16px;
    color: #fff;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default,
.bar-button-default-ios,
.bar-button-clear-ios-default,
.bar-button-ios-default {
    color: #fff;
}

page-home {
  .heading-holder {
    padding: 10px;
    margin: 0 -15px;
    margin-bottom: 30px;

    font-size: 19px;
    color: #fff;
    text-align: center;

    background: #42b66d;

    h4 {
      margin-bottom: 0;
    }
  }

  .holder {
    .col-12 {
      width: 100%;
    }

    .post-holder {
        position: relative;
        overflow: hidden;

        padding: 25px 0 0;
        margin-bottom: 30px;

        text-align: center;

        background: #fff;
        border: 5px #42b66d solid;

        -webkit-box-shadow: 0 0 15px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 0 15px 2px rgba(0,0,0,0.3);
        box-shadow: 0 0 15px 2px rgba(0,0,0,0.3);

        img {
          width: 80px;
          height: auto;
        }

        h6 {
          padding: 10px;
          margin: 20px -15px;

          font-size: 19px;
          font-weight: bold;
          color: #fff;
          text-align: center;

          background: #42b66d;
        }

        p {
          padding: 0 10px;
          margin-top: 10px;
          margin-left: 0;

          font-size: 14px;
          line-height: 20px;
          text-indent: 25px;
        }

        ul {
          display: flex;
          justify-content: space-around;

          padding-left: 0;

          li {
            display: inline;
            list-style: none;

            a {
              font-size: 14px;
              color: #42b66d;
              text-decoration: none;
            }
          }

          @media screen and (max-width: 575px) {
            display: block;

            li {
              display: block;
              padding: 2px;
            }
          }
        }

        .comment {
          display: flex;
          align-items: center;

          border-top: 1px solid #42b66d;

          .form-group {
            width: 80%;

            .form-control {
              padding: 5px 10px;
              margin: 10px 0;

              font-size: 13px;

              border: 1px solid #fff;
            }

            input::-webkit-input-placeholder {
                color: #42b66d;
                letter-spacing: 1.5px;
            }
            input::-moz-placeholder {
                color: #42b66d;
                letter-spacing: 1.5px;
            }
            input:-ms-input-placeholder {
                color: #42b66d;
                letter-spacing: 1.5px;
            }
            input:-moz-placeholder {
                color: #42b66d;
                letter-spacing: 1.5px;
            }
          }
        }

        .comment-content {
          font-size: 12px !important;
        }
      }

      .btn-green {
        padding: 5px;

        font-size: 12px;
        color: #fff;

        background: #42b66d;
        border: 2px solid #42b66d;
        border-radius: 12px;

        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;

        &:hover {
          color: #42b66d;

          background: #fff;
          border-color: #fff;

          outline: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
  }

}
